system/template/config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="style">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element ref="css"/>
        <xs:element ref="js"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="js" type="xs:string"/>
  <xs:element name="css" type="xs:string"/>
</xs:schema>